<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1 style="color: #e53333; font-style: normal;font-weight:bold;">Welcome to TAES</h1>
            <p class="lead">Built using Bootstrap</p>
            <ul class="nav nav-pills">
              <li><a href="{:U('Index/main')}">Home</a></li>
              <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> ALGORITHM DEMO <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('FuncPage/demo-zd')}" style="font-family: '微软雅黑'">字典序法</a></li>
                        <li><a href="{:U('FuncPage/demo-zj')}" style="font-family: '微软雅黑'">递增进位制法</a></li>
                        <li><a href="{:U('FuncPage/demo-jj')}" style="font-family: '微软雅黑'">递减进位制法</a></li>
                        <li><a href="{:U('FuncPage/demo-lh')}" style="font-family: '微软雅黑'">邻位对换法</a></li>
                    </ul>
              </li>
              <li><a href="{:U('FuncPage/ranking')}">RANKING</a></li>
              <li><a href="{:U('FuncPage/evaluation')}">EVALUATION</a></li>
              <li><a href="{:U('FuncPage/achievement')}">ACHIEVEMENT</a></li>
            </ul>
        </div>
    </header>
</block>

<block name="body">
	<div class="container marketing">
		<h1 style="font-family: '微软雅黑'">字典序法</h2>
		<hr class="featurette-divider">
		
		<!-- START THE FEATURETTES -->
	    <div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading" style="font-family: '微软雅黑'">下一个排列数</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<iframe src="./Animation/zd1/index.html"  width="480" height="320" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
				<!-- <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/480x320/auto" alt="Generic placeholder image"> -->
				
			</div>
	    </div>
	    <hr class="featurette-divider">
	    
	    <div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading" style="font-family: '微软雅黑'">排列数到中介数（and 序号）</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/480x320/auto" alt="Generic placeholder image">
			</div>
	    </div>
	    <hr class="featurette-divider">
	    
	    <div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading" style="font-family: '微软雅黑'">中介数到排列数</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/480x320/auto" alt="Generic placeholder image">
			</div>
	    </div>
	    <hr class="featurette-divider">
	    
	    <div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading" style="font-family: '微软雅黑'">序号到中介数</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/480x320/auto" alt="Generic placeholder image">
			</div>
	    </div>
	    <hr class="featurette-divider">
	    
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading" style="font-family: '微软雅黑'">中介数到序号</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/480x320/auto" alt="Generic placeholder image">
			</div>
	    </div>
      	<!-- /END THE FEATURETTES -->
	</div>

</block>
