<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1 style="color: #e53333; font-style: normal;font-weight:bold;">Welcome to TAES</h1>
            <p class="lead">Built using Bootstrap</p>
            <ul class="nav nav-pills">
              <li><a href="{:U('Index/main')}">Home</a></li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> ALGORITHM DEMO <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('FuncPage/demo-zd')}" style="font-family: '微软雅黑'">字典序法</a></li>
                        <li><a href="{:U('FuncPage/demo-zj')}" style="font-family: '微软雅黑'">递增进位制法</a></li>
                        <li><a href="{:U('FuncPage/demo-jj')}" style="font-family: '微软雅黑'">递减进位制法</a></li>
                        <li><a href="{:U('FuncPage/demo-lh')}" style="font-family: '微软雅黑'">邻位对换法</a></li>
                    </ul>
              </li>
              <li class="active"><a href="{:U('FuncPage/ranking')}">RANKING</a></li>
              <li><a href="{:U('FuncPage/evaluation')}">EVALUATION</a></li>
              <li><a href="{:U('FuncPage/achievement')}">ACHIEVEMENT</a></li>
            </ul>
        </div>
    </header>
</block>

<block name="body">
<?php
	$con=mysql_connect("localhost","root","6432114"); //your mysql user and password
	if(! $con)
		die("could not connect：" . mysql_error());
	mysql_select_db("judge",$con);
	$result = mysql_query("SELECT * FROM judge ORDER by time ASC, mem ASC, runid DESC",$con);
	echo "<table border='1' width='1200'>
	<tr>
	<th>runid</th>
	<th>usr</th>
	<th>ret</th>
	<th>time</th>
	<th>mem</th>
	</tr>";
	while($row = mysql_fetch_array($result))
	{
		echo "<tr align='center'>";
		echo "<td>".$row['runid']."</td>";
		echo "<td>"."test name"."</td>";
		echo "<td>";
		if($row['compilecode']!=0){
			echo "Compile Error";
		}
		else if($row['RE']!=0){
			echo "Runtime Error";
		}
		else if($row['TLE']!=0){
			echo "Time Limit Extend";
		}
		else if($row['MLE']!=0){
			echo "Memory Limit Extend";
		}
		else if ($row['judgercorrect']!=0){
			if($row['judgererrtype']==1){
				echo "Less Result";
			}
			else if ($row['judgererrtype']==2){
				echo "Dumplicate Result";
			}
			else{
				echo "Seqence Error";
			}
		}
		else {
			echo "Perfect Code";
		}
		echo "</td>";
		echo "<td>".$row['time']."ms</td>";
		echo "<td>".$row['mem']."KB</td>";
		echo "</tr>";
	}
	?>
</block>
